@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
font-weight: 300;
  background: #fff;
font-size: 16px;
  line-height: 1.6em;
}
